extends layout

block append vars
  - bodyclass = 'article-detail'

block prepend title
  | #{ "Reading - "}

block header
  div.logo
    a(href=locals.url)
  h1.title
    a(href=locals.url)= locals.name
  p.description= locals.description

  h1= page.title

block content    
  style. (type='text/css')
    .gr_grid_container {}
    .gr_grid_book_container {
      float: left;
      width: 98px;
      height: 160px;
      padding: 0px 0px;
      overflow: hidden;
    }
  
  <div id="gr_grid_widget_1430998994">Loading...</div>
  <script async src="https://www.goodreads.com/review/grid_widget/42552704.Bhashkar's%20bookshelf:%20read?cover_size=medium&hide_link=&hide_title=true&num_books=100&order=a&shelf=read&sort=date_added&widget_id=1430998994" type="text/javascript" charset="utf-8"></script>
  

block prepend footer
  div.nav
    a(href=contents.index.url) « Back to home
